/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px; /* Fixed width */
  height: 100vh; /* Full height */
  /* z-index: 1000; Ensure it stays above the content */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Main Content */
.main-content {
  margin-left: 180px; /* Ensure content starts after sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo-short {
  width: 50px;
}

.logo-txt {
  width: 125px;
}

/* Sidebar Navigation */
.sidebar-nav {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  color: #0b0739;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #3880b7;
  color: #fff;
}

.sidebar-item .icon {
  font-size: 18px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.sidebar-item:hover .icon {
  color: white;
}

.sidebar-item.active {
  background-color: #3880b7;
  color: white;
}

/* Bottom Menu */
.menu-bottom {
  /* margin-top: auto; */
  margin-top: 100px;
  padding: 5px;
}
