@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: poppins;
  /* scrollbar-width: none; */
}

a {
  text-decoration: none;
}

/* html {
  scroll-behavior: smooth;
} */

:root {
  --primary-color: #00aaff;
  --primary-light: #00aaff;
  --primary-dark: #007acc;
  --primary-bg: #91c9e4;
  --primary-bg-light: #c4f6fdb8;
  --primary-color-heading: #00aaff;

  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-light: rgba(0, 0, 0, 0.1);

  /* background-color: #004d3b; */

  /* --primary-bg: #004d3b; */
  /* --primary-bg:hsl(142.33,66.15%,87.25%); */
  /* --primary-bg:hsl(147,90.91%,95.69%); */
  /* --primary-light: var(--primary-bg); */
  /* --primary-light: var(--primary-color); */
  /* --primary-dark:hsl(143.16,90.48%,24.71%); */
  /* --primary-color:hsl(143.38,64.71%,46.67%);  */
}

/* body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  min-height: 100vh;
  height: 100%;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: inherit;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
